<h1> The created article is </h1>
<p>
Title:<br> <%= @article.title %>
</p>
<p>
Description:<br></t></t> <%= @article.description %>
</p>
<p>
<%= link_to "Edit current Article", edit_article_path(@article)%>
</p>
<%= link_to "Back to home page", articles_path %>